.input-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

label{
	margin-bottom: 0.2rem;
	color: black;
	font-weight: bold;
	font-size: 1rem;
}

input {
	padding: 0.5rem;
	border: 2px solid white;
	font-size: 1rem;
	border-radius: 0.5rem;
	
}