.input-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.25rem;
}

label{
	margin-bottom: 0.5rem;
	color: #374151;
	font-weight: 600;
  	font-size: 1rem;
}

input {
	padding: 1rem;
	border: 2px solid #e5e7eb;
	border-radius: 0.5rem;
	font-size: 1rem;
	background-color: white;
	color: #1f2937;
}

input:disabled {
  background-color: #f9fafb;
  color: #6b7280;
  cursor: not-allowed;
}

input::placeholder {
  color: #9ca3af;
  font-style: italic;
}

.mensagem-erro {
	color: red;
}