body {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	color: black;
	margin-top: 0;
	margin-bottom: 1.5rem;
}

form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 0.5rem;
	padding: 2rem;
	background-color: rgb(255, 255, 255);
	border-radius: 1rem;
}